.table-wrapper {
    margin: 40px auto;
    width: 296px;
    position : relative;
}

.result-data{
    position: absolute;
    top : 50%;
    left : 50%;
    width : 0%;
    height : 0%;
    opacity: 0.8;
    background-color : rgb(63, 132, 210);
}

.result-data.active{
    top : 0%;
    left : 0%;
    width : 100%;
    height : 100%;
    opacity: 0.92;
    -webkit-transition: all 1s ease-out 0.5s;
    -moz-transition: all 1s ease-out 0.5s;
    -ms-transition: all 1s ease-out 0.5s;
    -o-transition: all 1s ease-out 0.5s;
    transition: all 1s ease-out 0.5s;
}

.turn-text{
    text-align: center;
    font-size: 28px;
    color : #3F84D2;
    margin: 25px;
}

.btn-wrapper{
    text-align: center;
}

.control-btn{
    margin: 0px auto;
    display: inline-block;
    border: none;
    background-color: #3f84d2;
    color: white;
    font-size: 22px;
    padding: 15px;
    /*border-radius: 5px;*/
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#control-btn:hover{
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

button:focus{
    outline: none;
}

.winner-text{
    text-align: center;
    color: white;
    font-size: 48px;
    padding-top: 110px;
    opacity: 0;
}

.winner-text.showed{
    opacity: 1;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.winner-cell{
    background: yellow;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#game-board {
    background-color: white;
    border-spacing: 5px;
    margin: 0px auto;
}

td {
    width: 96px;
    height: 96px;
    background: #42A4F5;
    -webkit-transition: background 0.35s;
    cursor: pointer;
    position: relative;
    vertical-align: top;
}

td:hover {
    background: #3f84d2;
    -webkit-transition: background 0.35s;
    -moz-transition: background 0.35s;
    -ms-transition: background 0.35s;
    -o-transition: background 0.35s;
    transition: background 0.35s;
}

svg {
    width: 0px;
    height: 0px;
    position: absolute;
}

.circle {
    fill: none;
    stroke-width: 8px;
    stroke: #35F6A8;
    stroke-dasharray: 301.635;
    stroke-dashoffset: 301.635;
}

.cross {
    fill: none;
    stroke-width: 8px;
    stroke: #5552F7;
    stroke-dasharray: 135.764;
    stroke-dashoffset: 135.764;
}

/* начало рисования, задаем width и height вместо изменения display*/
.drawn {
    width: 96px;
    height: 96px;
}

/* рисуем круг */
.drawn.circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.45s ease-out;
    -webkit-transition: stroke-dashoffset 0.45s ease-out;
}

/* рисуем первую линию крестика */
.drawn .first-line {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.45s ease-out;
    -webkit-transition: stroke-dashoffset 0.45s ease-out;
}

/* рисуем вторую линию крестика с небольшой задержкой */
.drawn .second-line {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s ease-out 0.15s;
    -webkit-transition: stroke-dashoffset 0.3s ease-out 0.15s;
}